.search-container {
    background-color: rgb(131, 185, 185);
}

.search-input {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding: 30px 30px;
    border: 1px solid #839bc7;
    border-radius: 30px;
}