/* App layout container */
.app-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}



/* Main content area next to sidebar */
.main-content {
  margin-left: 60px; /* Push content after sidebar */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto; /* Enable scrolling for content */
}



/* Page content starts below the header */
.page-content {
  
  padding-left: 10vw;
  background-color: #f9f9f9;
  height: calc(100vh - 60px); /* Fill remaining space below header */
  overflow-y: auto;
}
